In [3]:
import tasks

if __name__ == "__main__":

    db = "Orders_RELATIONAL_DB"
    schema = "dbo"
    raw_data = "raw_data_source.xlsx"

    conn_ER = tasks.connect()

    tasks.create_database(conn_ER, db)
    
    tasks.drop_constraints(conn_ER, db, schema)
    
    for table in tasks.TABLES:    
        tasks.drop_table(conn_ER, table, db, schema)
        tasks.create_table(conn_ER, table, db, schema)
        tasks.insert_into_table(conn_ER, raw_data, table, db, schema)
    
    tasks.set_constraints(conn_ER, db, schema)

    conn_ER.close()

The dbo.Categories table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Categories table from the database Orders_RELATIONAL_DB has been created
Inserting into Categories...
8 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Categories table

The dbo.Customers table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Customers table from the database Orders_RELATIONAL_DB has been created
Inserting into Customers...
91 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Customers table

The dbo.Employees table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Employees table from the database Orders_RELATIONAL_DB has been created
Inserting into Employees...
9 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Employees table

The dbo.Suppliers table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Suppliers table from the database Orders_RELATIONAL_DB has been created
Inserting into Suppliers...
29 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Suppliers table

The dbo.Products table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Products table from the database Orders_RELATIONAL_DB has been created
Inserting into Products...
77 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Products table

The dbo.Region table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Region table from the database Orders_RELATIONAL_DB has been created
Inserting into Region...
4 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Region table

The dbo.Shippers table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Shippers table from the database Orders_RELATIONAL_DB has been created
Inserting into Shippers...
3 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Shippers table

The dbo.Territories table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Territories table from the database Orders_RELATIONAL_DB has been created
Inserting into Territories...
53 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Territories table

The dbo.Orders table from the database Orders_RELATIONAL_DB has been dropped
The dbo.Orders table from the database Orders_RELATIONAL_DB has been created
Inserting into Orders...
830 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Orders table

The dbo.OrderDetails table from the database Orders_RELATIONAL_DB has been dropped
The dbo.OrderDetails table from the database Orders_RELATIONAL_DB has been created
Inserting into OrderDetails...
2155 rows have been inserted into the Orders_RELATIONAL_DB.dbo.OrderDetails table

Added primary key constraints
Added foriegn key constraints