In [1]:
import time
import json
from utils import TABLES, generate_insert_files
from tasks import connect, execute
import math

In [2]:
# for table in TABLES:
#     generate_insert_files("raw_data_source.xlsx", table)

In [3]:
def switch_to_main():
    execute("switch_to_database_orders.sql", cursor)

In [4]:
connection = connect()
cursor = connection.cursor()

In [5]:
# execute("drop_foreign_key_constraints.sql", cursor, by_line = True, ignore_errors = True, log = True)

In [6]:
execute("database_creation.sql", cursor)

In [7]:
switch_to_main()

In [8]:
for table in TABLES:
    execute(f"create_table_{table}.sql", cursor)
    print("Table created:", table)

Table created: Categories
Table created: Customers
Table created: Employees
Table created: Suppliers
Table created: Products
Table created: Region
Table created: Shippers
Table created: Territories
Table created: Orders
Table created: OrderDetails

In [9]:
primary_keys_script = "add_primary_key_constraints.sql"

execute(primary_keys_script, cursor)
print("Primary keys added")

Primary keys added

In [10]:
db = "Orders_RELATIONAL_DB"
schema = "dbo"

In [11]:
import pandas as pd
from tasks import load_query, insert_into_table

In [12]:
for table in TABLES:
    insert_into_table(cursor, "raw_data_source.xlsx", table, db, schema)

Inserting into Categories...
8 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Categories table

Inserting into Customers...
91 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Customers table

Inserting into Employees...
9 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Employees table

Inserting into Suppliers...
29 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Suppliers table

Inserting into Products...
77 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Products table

Inserting into Region...
4 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Region table

Inserting into Shippers...
3 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Shippers table

Inserting into Territories...
53 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Territories table

Inserting into Orders...
830 rows have been inserted into the Orders_RELATIONAL_DB.dbo.Orders table

Inserting into OrderDetails...
2155 rows have been inserted into the Orders_RELATIONAL_DB.dbo.OrderDetails table

In [15]:
foreign_keys_script = "add_foreign_key_constraints.sql"
execute(foreign_keys_script, cursor, by_line = True)
print("Foreign keys added")

Foreign keys added

In [14]:
len(cursor.execute("select * from OrderDetails").fetchall())

2155