In [150]:
import pandas as pd
import numpy as np

from utils import TABLES

In [164]:
df = pd.read_excel("raw_data_source.xlsx", sheet_name = TABLES[2])

In [195]:
def format_value(value):
#     print(value)
    if value is None or value == np.nan:
        return "NULL"
    
    elif isinstance(value, str):
        return f"'{value}'"
    
    else:
        return str(value)

def dataframe_to_sql_insert(dataframe, table_name):
    insert_statements = []

    for index, row in dataframe.iterrows():
        if index != 0:
            values = ', '.join([format_value(value) for value in row])
            insert_statement = f"INSERT INTO {table_name} VALUES ({values});"
            insert_statement = insert_statement.replace("nan", "NULL")
            insert_statements.append(insert_statement)
    
    return '\n'.join(insert_statements)

In [196]:
print(dataframe_to_sql_insert(df, "Employees"))

INSERT INTO Employees VALUES (2, 'Fuller', 'Andrew', 'Vice President, Sales', 'Dr.', 1952-02-19 00:00:00, 1992-08-14 00:00:00, '908 W. Capital Way', 'Tacoma', 'WA', '98401', 'USA', '(206) 555-9482', 3457, 'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.', NULL, 'http://accweb/emmployees/fuller.bmp');
INSERT INTO Employees VALUES (3, 'Leverling', 'Janet', 'Sales Representative', 'Ms.', 1963-08-30 00:00:00, 1992-04-01 00:00:00, '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', 'USA', '(206) 555-3412', 3355, 'Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.', 2.0, 'http://accweb/emmployees/leverling.bmp');
INSERT INTO Employees VALUES (4, 'Peacock', 'Margaret', 'Sales Representative', 'Mrs.', 1937-09-19 00:00:00, 1993-05-03 00:00:00, '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 'USA', '(206) 555-8122', 5176, 'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.', 2.0, 'http://accweb/emmployees/peacock.bmp');
INSERT INTO Employees VALUES (5, 'BuchaNULL', 'Steven', 'Sales Manager', 'Mr.', 1955-03-04 00:00:00, 1993-10-17 00:00:00, '14 Garrett Hill', 'London', NULL, 'SW1 8JR', 'UK', '(71) 555-4848', 3453, 'Steven BuchaNULL graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. BuchaNULL has completed the courses "Successful Telemarketing" and "International Sales Management."  He is fluent in French.', 2.0, 'http://accweb/emmployees/buchaNULL.bmp');
INSERT INTO Employees VALUES (6, 'Suyama', 'Michael', 'Sales Representative', 'Mr.', 1963-07-02 00:00:00, 1993-10-17 00:00:00, 'Coventry House_x000D_
Miner Rd.', 'London', NULL, 'EC2 7JR', 'UK', '(71) 555-7773', 428, 'Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses "Multi-Cultural Selling" and "Time Management for the Sales Professional."  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.', 5.0, 'http://accweb/emmployees/davolio.bmp');
INSERT INTO Employees VALUES (7, 'King', 'Robert', 'Sales Representative', 'Mr.', 1960-05-29 00:00:00, 1994-01-02 00:00:00, 'Edgeham Hollow_x000D_
Winchester Way', 'London', NULL, 'RG1 9SP', 'UK', '(71) 555-5598', 465, 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled "Selling in Europe," he was transferred to the London office in March 1993.', 5.0, 'http://accweb/emmployees/davolio.bmp');
INSERT INTO Employees VALUES (8, 'Callahan', 'Laura', 'Inside Sales Coordinator', 'Ms.', 1958-01-09 00:00:00, 1994-03-05 00:00:00, '4726 - 11th Ave. N.E.', 'Seattle', 'WA', '98105', 'USA', '(206) 555-1189', 2344, 'Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.', 2.0, 'http://accweb/emmployees/davolio.bmp');
INSERT INTO Employees VALUES (9, 'Dodsworth', 'Anne', 'Sales Representative', 'Ms.', 1966-01-27 00:00:00, 1994-11-15 00:00:00, '7 Houndstooth Rd.', 'London', NULL, 'WG2 7LT', 'UK', '(71) 555-4444', 452, 'Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.', 5.0, 'http://accweb/emmployees/davolio.bmp');

In [87]:
import pyodbc 
import json

In [128]:
def connect():
    
    with open('pydb_config.json', 'r') as f:
        config = json.load(f)
    
    DRVIER = f"DRIVER=" + config.get("driver")
    SERVER = f"SERVER=" + config.get("server")
    DATABASE = f"DATABASE=" + config.get("database")
    UID = f"UID=" + config.get("username")
    PWD = f"PWD=" + config.get("password")
    ENCRYPT = "ENCRYPT=yes"
    TRUST = "TrustServerCertificate=yes"

    connection_params = [DRVIER, SERVER, DATABASE, ENCRYPT, TRUST, UID, PWD]
    connection_string = ";".join(connection_params)
    
    connection = pyodbc.connect(connection_string, autocommit = True)
    
    return connection

In [129]:
def execute(filename, cursor):
    with open(filename, "r") as file:
        content = file.read()
        cursor.execute(content)

In [130]:
connection = connect()
cursor = connection.cursor()

In [146]:
execute("database_creation.sql", cursor)

In [147]:


for table in TABLES:
    execute(f"create_table_{table}.sql", cursor)
    print("Table created:", table)

Table created: Categories
Table created: Customers
Table created: Employees
Table created: OrderDetails
Table created: Orders
Table created: Products
Table created: Region
Table created: Shippers
Table created: Suppliers
Table created: Territories

In [148]:
primary_keys_script = "add_primary_key_constraints.sql"
foreign_keys_script = "add_foreign_key_constraints.sql"

execute(primary_keys_script, cursor)
print("Primary keys added")

execute(foreign_keys_script, cursor)
print("Foreign keys added")

Primary keys added
Foreign keys added

In [149]:
# execute("drop_foreign_key_constraints.sql", cursor)